<div style="margin: 0;" class="container"
	ng-Controller="c_jobController">
	<br>
	<div style="float: center;">
		<div class="card"
			style="width: 1320px; margin: 0; min-height: 300px; padding: 0px; border: 1px solid black;">
			<h4 style="background-color:  #66a3ff; padding: 10px;"
				align="center" class="card-title">
				<b>All Job Applications</b>
			</h4>
			<p align="center" style="padding: 0;">
				<img class="card-img-top" src="Jobs.png" alt="Card image"
					style="width: 194px; height: 100px;">
			</p>
			<div class="card-body">
				<table class="table table-bordered">
					<thead style="background-color: #00cccc;">
						<tr style="text-align: center;">
							<th style="width: 20px;">Job ID</th>
							<th style="width: 40px;">E-mail</th>
							<th style="width: 150px;">Job Title</th>
							<!-- <th style="width: 150px;">Job Description</th> -->
							<th style="width: 70px;">Date</th>
							<th style="width: 80px;">Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody ng-repeat="job in jobapplications">
						<tr style="text-align: center;">
							<td>{{job.jobid}}</td>
							<td>{{job.emailid}}</td>
							<td>{{job.jobtitle}}</td>
							<!-- <td>{{job.jobdescription}}</td> -->
							<td>{{job.applied_date}}</td>
							<td ng-show="job.jobappstatus == 'A'"><label>Approved</label></td>
							<td ng-show="job.jobappstatus == 'R'"><label>Rejected</label></td>
							<td ng-show="job.jobappstatus == 'N'">
							<button class="btn btn-info" style="width:45%"
									ng-click="approveApplication(job.jobappid)"><i class="fas fa-check"></i> A</button>
							<button class="btn btn-warning" style="width:45%"
									ng-click="rejectApplication(job.jobappid)"><i class="fas fa-times"></i> R</button></td>
							<td style="width: 20px;"><button class="btn btn-danger"
									ng-click="deletejobapplication(job.jobappid)"><i class="fas fa-trash"></i> Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<br>
</div>