<div class="container" ng-Controller="c_jobController">
	<br>
	<div align="center">
		<div class="card" style="width: 400px; min-height: 630px; padding: 0px; border: 1px solid black;">
			<h4 style="background-color: #66a3ff; padding: 10px;" align="center" class="card-title">
				<b>Post Job</b>
			</h4>
			<br>
			<p align="center" style="padding: 0;">
				<img class="card-img-top" src="Jobs.png" alt="Card image" style="width: 194px; height: 100px;">
			</p>
			
			<div style="text-align: left;" class="card-body">
				<form>
					<div class="row">
						<div class="col-sm-6 form-group">
							<label>Job Designation</label> 
							<input type="text" name="designation" ng-model="jobdetail.designation" placeholder="Enter Jot title Here" class="form-control" required>
						</div>

						<div class="col-sm-6 form-group">
							<label>Job Salary</label> 
							<input type="text" name="ctc" ng-model="jobdetail.ctc" placeholder="Enter Job Salary" class="form-control" required>
						</div>
					</div>

					<div class="form-group">
						<label>Job Roles</label>
						<textarea name="roles" ng-model="jobdetail.roleandResp" placeholder="Enter Description Here" rows="2"	class="form-control" required></textarea>
					</div>

					<div class="form-group">
						<label>Company</label> 
						<input type="text" name="company" ng-model="jobdetail.company" placeholder="Enter nuber of openings" class="form-control" required>
					</div>

					<div class="form-group">
						<label>Job Location</label> 
						<input type="text" name="location" ng-model="jobdetail.location" placeholder="Enter Location Here" class="form-control" required>
					</div>

					<div class="form-group">
						<label>Skills</label> 
						<input type="text" name="skills" ng-model="jobdetail.skills" placeholder="Enter Skills Here" class="form-control" required>
					</div>

					<button type="button" style="display:block;width:50%" ng-click="postjob()" class="btn btn-lg btn-primary">Post Job</button>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>
