<br>
<div class="container" ng-Controller="c_forumController">

 <div style="float: center;">
		<div class="card"
			style="width: 1100px; margin: 0; min-height: 300px; padding: 0px; border: 1px solid black;">
	<h2 style="background-color:#66a3ff;padding:10px;" align="center" class="card-title" font-family: Helvetica"><strong>My Forums</strong></h2>
	<br>
	<div style="text-align: left;" class="card-body">
	<p style="font-weight: bold; font-size: 20px; text-decoration: underline;"
		ng-hide="CurrentUser == undefined">Current User: {{CurrentUser.loginname}}</p>
	<br>
	<br>
	</div>
	<div ng-repeat="forum in allForumData"
		ng-show="CurrentUser.loginname == forum.loginname">

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="row">
							<div class="col-md-5">
								<div class="card">
									<div class="card-body">

										<h3 class="card-title">{{forum.forumName}}</h3>

										<span class="badge badge-success"
											ng-show="forum.status=='A'">Approved</span> <span
											class="badge badge-danger" ng-show="forum.status=='R'">Rejected</span>
										<span class="badge badge-warning"
											ng-show="forum.status=='NA'">Approval Pending</span> <br>
										<br>

										<button type="button" class="btn btn-primary"
											ng-click="approveForum(forum.forumId)"
											ng-show="forum.forumstatus=='NA' && CurrentUser.role=='ROLE_USER'">Approve</button>
										<button type="button" class="btn btn-primary"
											ng-click="rejectForum(forum.forumId)"
											ng-show="forum.forumstatus=='NA' && CurrentUser.role=='ROLE_USER'">Reject</button>
										<button type="button" class="btn btn-danger"
											ng-show="CurrentUser.loginname == forum.loginname"
											ng-click="deleteForum(forum.forumid)"><i class="fas fa-trash"></i> Delete</button>

									</div>
								</div>
							</div>

							<div class="col-md-7">
								<div class="card-body">{{forum.forumContent}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<br>		<br>
		


	</div></div></div>
</div>
<br>
